dev tun
port <port>
server 10.159.12.0 255.255.255.0
ifconfig-pool-persist ipp.txt
ca ca.crt
cert server.crt
key server.key
dh dh1024.pem
push "route 10.159.12.0 255.255.255.0"
push "redirect-gateway"
push "dhcp-option DNS 8.8.8.8"
comp-lzo
keepalive 10 60
ping-timer-rem
persist-tun
persist-key
status /var/log/openvpn.<port>.log
group daemon
daemon