#
# The Seedbox From Scratch  Script
#   By Notos ---> https://github.com/Notos/
#
#
#

description "ncurses BitTorrent client based on LibTorrent"
start on stopped rc RUNLEVEL=[2345]
stop on runlevel [016]

chdir /home/<username>
script
  su <username> -c "screen -d -m -S rtorrent rtorrent"
  sleep 3
  su <username> -c "screen -d -m -S irssi irssi"
end script

#do not remove or edit this line

