|bibliotik|<login>|<password>|
|bkrs|<login>|<password>|
|btn|<login>|<password>|
|fl.ro|<login>|<password>|
|fux0r|<login>|<password>|
|gazelle|<login>|<password>|
|gft|<login>|<password>|
|gg|<login>|<password>|
|iptorrents|<login>|<password>|
|mya|<login>|<password>|
|ptp|<login>|<password>|
|stf|<login>|<password>|
|tvt.com|<login>|<password>|
|what.cd|<login>|<password>|
